{% extends 'base.html.twig' %}
{% block title %}Bonnes pratiques {{ parent() }} -  {% endblock %}
{% block metadesc %}
    <meta name="description"
          content="Le site internet Comparer.pro permet de comparer des logiciels de marketing automation"/>
{% endblock %}

{% block h1 %}
    <h1>Bonnes pratiques marketing automation</h1>
{% endblock %}

{% block body %}

    <div id="about_us">
        <div class="row">
            <div class="col s12 m12 l10">
                <h2>Bien choisir son logiciel de Marketing Automation avec Comparer.pro</h2>

                <p>Travaillant dans le secteur du marketing digital depuis 2005, j&rsquo;accompagne aujourd&rsquo;hui les entreprises dans la mise en place de m&eacute;thodes cl&eacute;s li&eacute;es au Marketing Automation. La question du choix du logiciel est r&eacute;currente: en effet, une bonne strat&eacute;gie Marketing Automation implique le choix d&rsquo;un logiciel efficace et r&eacute;pondant aux besoins propres &agrave; chaque entreprise.</p>
                <p>Voici donc mes conseils pour faciliter votre choix et &eacute;viter les erreurs les plus courantes.</p><p><strong>Il n&#39;y a pas UN logiciel de Marketing Automation qui soit mieux que les autres.</strong></p>
                <p>Certains sont &agrave; &eacute;viter, certes, mais la plupart fait le travail correctement. Il est important de trouver le logiciel qui correspond &agrave; vos besoins, qui soit simple d&rsquo;utilisation et qui soit respectueux des donn&eacute;es priv&eacute;es que vous lui confier.</p>
                <p>Bien choisir son logiciel de Marketing Automation est un enjeu majeur, car c&#39;est lui qui va vous permettre d&#39;ex&eacute;cuter ou non certaines fonctionnalit&eacute;s.</p>
                <p>Le choix d&#39;un logiciel se fait selon les crit&egrave;res suivants :</p>
				<ul>
					<li>les fonctionnalit&eacute;s</li>
					<li>le prix</li>
					<li>la simplicit&eacute; d&#39;usage</li>
					<li>la connexion &agrave; votre &eacute;cosyst&egrave;me</li>
					<li>l&#39;accompagnement</li>
					<li>le respect des donn&eacute;es priv&eacute;es</li>
				</ul>
				<h2>Les fonctionnalit&eacute;s</h2>
				<p>Recensez les fonctionnalit&eacute;s dont vous avez besoin et assurez-vous que le logiciel que vous choisissez r&eacute;ponde &agrave; ces besoins. Votre futur logiciel de Marketing Automation doit comporter (&agrave; minima) les fonctionnalit&eacute;s suivantes :</p>
				<ul>
					<li>Suivi des visiteurs</li>
					<li>Formulaire</li>
					<li>Pages d&#39;atterrissages</li>
					<li>Email Marketing</li>
					<li>Campagne Marketing</li>
					<li>Gestion de contacts</li>
					<li>Rapports d&rsquo;activit&eacute;</li>
					<li>Segmentation</li>
					<li>Lead Scoring</span>
					</li>
				</ul>
				<p><strong>Suivi des visiteurs :</strong> le suivi des visiteurs est rendu possible gr&acirc;ce &agrave; un code de suivi (code Javascript) &agrave; installer sur l&#39;ensemble des pages de votre site internet. Il enregistre les actions des visiteurs (visite d&#39;une page, temps pass&eacute; sur la page, etc.).</p>
				<p><strong>Formulaire : </strong>cette option offre la possibilit&eacute; de cr&eacute;er des formulaires &agrave; la vol&eacute;e. Vous pouvez choisir le type de chaque champ parmi une s&eacute;lection, leur intitul&eacute;, ainsi que les messages d&#39;erreurs personnalisables. Les formulaires s&rsquo;ajoutent sur vos pages web par un copier/coller d&rsquo;un code Javascript g&eacute;n&eacute;r&eacute; par l&rsquo;outil.</p>
				<p><strong>Pages d&#39;atterrissages :</strong> ce sont les pages en dehors de votre site internet dont le r&ocirc;le est d&#39;amener le visiteur &agrave; faire une action souhait&eacute;e. Par exemple, vous pouvez mettre en avant une offre promotionnelle, ou faire t&eacute;l&eacute;charger un livre blanc en &eacute;change des coordonn&eacute;es du visiteur. La page d&#39;atterrissage est externe au site internet car la plupart du temps, la n&eacute;gociation avec l&#39;&eacute;quipe technique en charge dudit site est longue (12 &agrave; 18 mois). Une page d&#39;atterrissage est diff&eacute;rente d&#39;une page de contenu classique sur votre site, c&#39;est une page sans bandeau, sans pied de page, sans menu. En d&rsquo;autres termes, cette page est sans point de fuite potentiel des visiteurs. Lorsque vous r&eacute;alisez une campagne d&#39;acquisition de trafic, que ce soit avec AdWords ou via les r&eacute;seaux sociaux, l&rsquo;objectif est d&rsquo;&eacute;viter que le visiteur acquis pour un co&ucirc;t &eacute;lev&eacute; clique sur un lien de retour sur la page d&#39;accueil. Il est donc important d&rsquo;&eacute;liminer l&#39;ensemble des points de fuite.</p>
				<p>Les pages d&#39;atterrissages sont cr&eacute;&eacute;es selon votre charte graphique, en fonction d&#39;un template. Le but est de convaincre le visiteur de laisser ses coordonn&eacute;es ce qui repr&eacute;sente un moment essentiel dans le cycle de conversion. A ce moment-l&agrave; vous transformez un visiteur fant&ocirc;me (= inconnu) en prospect (via l&rsquo;obtention d&rsquo;informations d&eacute;claratives sur lui : nom, pr&eacute;nom, email, etc.).</p>
				<p><strong>Email Marketing :</strong>&nbsp;l&#39;outil d&#39;emailing est int&eacute;gr&eacute; en standard dans le logiciel de marketing automation. Vous pouvez donc faire des emailings classiques comme des newsletters, des emails promotionnels, etc. Il serait cependant dommage de limiter votre usage du marketing automation &agrave; l&#39;envoi d&#39;emails : l&#39;outil va vous co&ucirc;ter cher juste pour faire des campagnes d&rsquo;emailing.</p>
				<p>Toutefois tr&egrave;s utile, cette fonction d&rsquo;emailing doit vous permettre d&#39;int&eacute;grer vos mod&egrave;les d&#39;email simplement afin d&rsquo;avoir des templates &agrave; votre image de marque.</p>
				<p><strong></strong>>Campagne Marketing :</strong> c&#39;est le point central de l&#39;outil. Cette fonctionnalit&eacute; permet de sc&eacute;nariser la relation que vous entretenez avec votre internaute sur votre site. La facilit&eacute; de cr&eacute;ation des campagnes ainsi que les possibilit&eacute;s techniques du moteur de campagne sont des points cl&eacute;s dans le choix de votre futur logiciel.</p>
				<p>
					<span class="c0">Gestion de contacts : </span>
					<span class="c1">La page de gestion des contacts est l&#39;interface principale par laquelle vous pouvez visualiser et interagir avec vos contacts et visualiser les prospects fant&ocirc;mes. C&rsquo;est &agrave; partir de cette fonctionnalit&eacute; que vous pourrez consulter dans le d&eacute;tail les actions faites par un visiteur sur votre site internet.</span>
				</p>
				<p>
					<span class="c0 c16"></span>
				</p>
				<p>
					<span class="c0">Rapports d&rsquo;activit&eacute; :</span>
					<span class="c1">&nbsp;cette fonctionnalit&eacute; est indispensable pour vos campagnes marketing automation. Celle-ci vous offre la possibilit&eacute; d&rsquo;avoir des rapports d&rsquo;informations analytiques pour comprendre comment se comportent vos prospects au sein de vos campagnes et sur vos pages d&#39;atterrissages. Indispensable pour ajuster votre strat&eacute;gie ! </span>
				</p>
				<p>
					<span class="c0">Segmentation :</span>
					<span class="c1">&nbsp;gr&acirc;ce &agrave; la segmentation, vous pouvez cr&eacute;er des listes de contacts et y assigner vos prospects manuellement via vos campagnes, ou automatiquement sur une base de crit&egrave;res. Dans ce dernier cas nous parlons de segment. Une fois param&eacute;tr&eacute;s, les crit&egrave;res de segmentation s&rsquo;appliquent automatiquement : n&#39;importe quel contact correspondant &agrave; ces mentions sera sp&eacute;cifiquement ajout&eacute; au segment. De cette fa&ccedil;on, vos contacts se qualifient sans le moindre effort. A contrario, si le contact ne r&eacute;pond plus aux crit&egrave;res, il sera automatiquement exclu du segment.</span>
				</p>
				<p class="c12">
					<span class="c1">Un point d&rsquo;attention est &agrave; porter sur les limites de segmentation des logiciels que vous allez essayer. Posez-vous la question des crit&egrave;res sur lesquels vous souhaitez segmenter vos contacts. En g&eacute;n&eacute;ral les crit&egrave;res propos&eacute;s s&rsquo;appuient sur les donn&eacute;es d&eacute;claratives (du prospect et de son entreprise), comportementales et sur les campagnes.</span>
				</p>
				<p>
					<span class="c0">Lead Scoring :</span>
					<span class="c1">&nbsp;les points permettent de donner de la valeur &agrave; certains prospects, tout en permettant de d&eacute;clencher des actions. L&#39;ajout de points en fonction de la valeur de l&rsquo;action r&eacute;alis&eacute;e permet de changer la somme totale des points d&#39;un prospect. Ces actions peuvent avoir un impact positif ou n&eacute;gatif sur le score final de vos visiteurs.</span>
				</p>
				<p>Vous pouvez ainsi mettre en place des d&eacute;clencheurs, qui sont des &eacute;v&eacute;nements d&eacute;clench&eacute;s lorsqu&#39;un prospect atteint un nombre de points d&eacute;finis (comme par exemple l&rsquo;envoi d&rsquo;une notification par email).</p>

				<h2>Le prix</h2>
				<p>Quand il s&rsquo;agit du prix du logiciel, la difficult&eacute; est de trouver un logiciel qui correspond &agrave; vos besoins tout en rentrant dans votre budget.</p>
				<p>Vous avez deux grandes possibilit&eacute;s :</p>
				<ol>
					<li><strong>Payer une licence logiciel</strong> : vous souscrivez &agrave; un abonnement et payez en fonction du nombre de contacts uniques connus dans votre base de donn&eacute;es (par tranche de 10.000 contacts). Sachez qu&#39;il est compliqu&eacute; de changer de logiciel : il faut donc pr&eacute;voir un investissement sur plusieurs ann&eacute;es.</li>
					<li><strong>Utiliser un logiciel Open Source</strong> : dans ce second cas, vous pouvez vous appuyer sur un logiciel &ldquo;Open Source&rdquo; comme Mautic.org, d&eacute;velopp&eacute; en PHP avec Symfony 2. Si cette solution est moins co&ucirc;teuse, il ne faut pas n&eacute;gliger le paiement de l&rsquo;h&eacute;bergement (&agrave; partir de 100&euro; / an), l&#39;envoi d&#39;emails (&agrave; partir de 80&euro; / an) et le temps n&eacute;cessaire au d&eacute;veloppeur pour maintenir la solution (au moins plusieurs milliers d&#39;euros / an). Si vous avez moins de 5.000 contacts dans votre base de donn&eacute;es cette solution est envisageable. Dans le cas contraire je vous incite &agrave; vous poser la question de vous abstraire du c&ocirc;t&eacute; technique du logiciel de marketing automation et de d&eacute;l&eacute;guer cela &agrave; un &eacute;diteur de logiciel.</li>
				</ol>

				<h2>Liste des logiciels de Marketing Automation</h2>
				<p>Voici une liste exhaustive de logiciels de Marketing Automation parmi les 10.000 solutions qui existent sur le march&eacute; :</p>
				<ul>
					<li>Mautic.org : open source, &agrave; installer vous m&ecirc;me</li>
					<li>Mautic.com : &agrave; partir de 100$/mois, m&ecirc;me base technique que la version Open Source, support par un forum</li>
					<li>Koban Marketing : &agrave; partir de 588&euro; / an</li>
					<li>AutoPilot : 1920&euro; / an</li>
					<li>Omnisense : &agrave; partir de 5 028&euro; / an</li>
					<li>Act-ON : &agrave; partir de 10 500&euro; / an</li>
					<li>Hubspot : &agrave; partir de 16 500 &euro; / an (attention : acteur Am&eacute;ricain)</li>
					<li>SPLIO : &agrave; partir 33 600 &euro; / an</li>
					<li>Pardot : &agrave; partir de 36 000 &euro; / an (attention : acteur Am&eacute;ricain)</li>
					<li>Eloqua : &agrave; partir de 48 000&euro; / an (attention : acteur Am&eacute;ricain)</li>
				</ul>
				<p>Les prix sont non contractuels, ils sont indiqu&eacute;s &agrave; partir de leur documentation à l'été 2018 et pour 10.000 contacts en base de donn&eacute;es.</p>
				<p><a href="https://comparer.pro/logiciels">Retrouvez la liste approfondie et comparez 35 logiciels de Marketing Automation en cliquant ici !</a></p>
				<h2>La simplicit&eacute; d&#39;usage</h2>
				<p>Aussi simple que &ccedil;a puisse para&icirc;tre, vous devez &ecirc;tre capable de prendre en main votre logiciel. Assurez-vous que l&#39;interface vous para&icirc;t compr&eacute;hensible. Les logiciels de marketing automation ont beaucoup de fonctionnalit&eacute;s, cela n&#39;emp&ecirc;che que l&#39;effort en terme d&#39;exp&eacute;rience utilisateur et d&#39;usage n&#39;est pas le m&ecirc;me d&#39;un logiciel &agrave; l&#39;autre. Une raison de plus pour prendre le temps d&#39;en essayer plusieurs et de les <a href="https://comparer.pro/comparatifs">comparer</a>&nbsp;avant de faire votre choix d&eacute;finitif.</p>
				<h2>La connexion &agrave; votre &eacute;cosyst&egrave;me</h2>
				<p>Il est essentiel que votre logiciel de marketing automation puisse s&#39;interconnecter avec vos autres logiciels, que ce soit votre site internet, votre CRM, ou encore vos outils m&eacute;tiers. Si vous souhaitez &ecirc;tre efficaces et automatiser vos processus de vente, le logiciel choisi doit alors pouvoir communiquer avec le reste de votre &eacute;cosyst&egrave;me technique.</p>
				<h2>L&#39;accompagnement</h2>
				<p>Une fois que vous avez choisi un logiciel adapt&eacute; en terme de fonctionnalit&eacute;s, de prix et de simplicit&eacute; d&#39;usage, assurez-vous que l&#39;&eacute;diteur propose un accompagnement qui vous convienne. Que ce soit une formation, des tutoriels texte/vid&eacute;o, un forum ou tout autre moyen, favorisez un accompagnement qui vous permet de monter en comp&eacute;tences dans l&#39;usage de votre logiciel. Vous allez y passer du temps, vous et vos &eacute;quipes, que ce soit pour impl&eacute;menter de nouveaux sc&eacute;narios de marketing automation ou encore pour analyser vos campagnes et prendre des d&eacute;cisions, un suivi en terme d&rsquo;accompagnement est donc souhait&eacute;</p>
				<h2>Le respect des donn&eacute;es priv&eacute;es</h2>
				<p>Le &quot;patriot act&quot; et le &quot;Safe Harbor&quot; vous connaissez ? Ce sont deux lois vot&eacute;es aux USA &agrave; la suite des attentats du 11 septembre 2001. Elles assurent au gouvernement Am&eacute;ricain un acc&egrave;s sans limites aux donn&eacute;es trait&eacute;es sur le sol Am&eacute;ricain et aux donn&eacute;es g&eacute;r&eacute;es par des entreprises Am&eacute;ricaines m&ecirc;me si ces derni&egrave;res sont h&eacute;berg&eacute;es en dehors du sol Am&eacute;ricain. Nous pouvons aussi citer le RGPD <em>(R&egrave;glement G&eacute;n&eacute;ral sur la Protection des Donn&eacute;es)</em>&nbsp;une loi vot&eacute;e par l&#39;Europe, entr&eacute;e en application le 25 mai 2018 et qui contraint les entreprises op&eacute;rant en Europe &agrave; revoir la mani&egrave;re dont elles g&egrave;rent leur donn&eacute;es personnelles et les contrats avec leurs sous-traitants concern&eacute;s par le sujet.</p>
				<p>Renseignez-vous aupr&egrave;s des &eacute;diteurs sur la mani&egrave;re dont ils g&egrave;rent les donn&eacute;es que vous allez leur confier et sur leurs engagements contractuels en la mati&egrave;re.</p>
				<h2>Vous avez maintenant les cl&eacute;s pour choisir le logiciel adapt&eacute; &agrave; vos besoins</h2>
				<p>Gr&acirc;ce &agrave; ce guide &ldquo;bonnes pratiques&rdquo;, vous avez &ecirc;tes en mesure de choisir le logiciel adapt&eacute; &agrave; vos crit&egrave;res.</p>
				<p>Besoin d&rsquo;aide pour mieux vous y retrouver ? Remplissez le formulaire suivant en m&rsquo;indiquant vos besoins, et je reprends contact avec vous rapidement.</p>
				<ul>
					<li><a href="https://comparer.pro/comparatifs">Comparer les logiciels 2 &agrave; 2 </a></li>
					<li>Consulter la liste des <ahref="https://comparer.pro/logiciels">logiciels</a></li>
					<li>Mieux comprendre les <a href="https://automation.help">termes du Marketing Automation</a></li>
					<li><a href="https://lp.automation.help/abo-mkt">Se faire accompagner</a>&nbsp;de A &agrave; Z dans sa strat&eacute;gie Marketing Automation</li>
				</ul>

            </div>
        </div>
    </div>

{% endblock %}